# URL koneksi database PostgreSQL (Gunakan pooler jika memakai layanan cloud seperti Supabase)
DATABASE_URL="postgresql://postgres:password@localhost:5432/konseling?schema=public"

# URL koneksi langsung ke PostgreSQL (Diperlukan oleh Prisma untuk migrasi jika DATABASE_URL menggunakan pooling)
DIRECT_URL="postgresql://postgres:password@localhost:5432/konseling?schema=public"

# Secret key untuk NextAuth (Enkripsi sesi/JWT). Anda bisa generate menggunakan: openssl rand -base64 32
NEXTAUTH_SECRET="kuncirahasia_konseling_smpbinakarya_2026"
